---
import PDFViewer from "@/components/PDFViewer.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="概要" description="Aisai Marching Band BLOWINGの概要を紹介します。">
  <section id="philosophy">
    <h2>バンド理念</h2>
    <div class="lead">
      <p>私達は、マーチング・演奏活動を通して「喜び」や「感動」を「共感」したいと考えています。</p>
      <p>昨今では、楽器が吹きたいけどできない、マーチングがやりたいけどできない・・・</p>
      <p>皆様の様々なくすぶった「想い」、心のどこかにある「夢」を実現できたらと考えています。</p>
      <p>「夢」を実現し、音楽を通し地域貢献に努めます！</p>
      <p>団長　戸村拓哉</p>
    </div>
  </section>

  <section id="history" class="root">
    <h2>沿革</h2>
    <div class="lead">
      <p>
        Aisai Marching Band BLOWING
        は、佐織中学校吹奏楽部の保護者が立ち上げたクラブチームを母体とし、2022年に発足しました。名称の「BLOWING」は「吹く」を意味し、愛西市を拠点に、地域貢献・青少年育成・マーチング文化の発展を目指して活動しています。
      </p>

      <p>
        2020年、23名で活動を開始し、同年11月に初のお披露目演奏会を開催。2021年5月にはマーチング発表会を実施し、団員数は50名を超えました。同年10月にはマーチング東海大会に初出場し銀賞を受賞。その後もマーチング協会主催の東海大会に連続出場し、吹奏楽連盟主催の動くコンサートや地域イベントなど、多方面で演奏機会を重ねています。
      </p>

      <p>
        2021年度には、部活動の地域展開に関する実証事業モデルとして愛知県の指定を受け、現在も継続しています。また、毎年5月にスプリングコンサート、3月にジュニアバンドによる定期演奏会を開催し、地域の皆さまに成果を発信しています。
      </p>

      <p>
        2024年には、小学5年生〜中学3年生を対象としたジュニアバンド「愛西マーチングバンド BLOWING
        Jr.」を発足。これに伴い、編成を高校生以上の Aisai Marching Band BLOWINGとBLOWING
        Jr.（小5〜中3）の2バンド体制へと拡充し、マーチングコンテストにはそれぞれのカテゴリで出場する形となりました。一方、地域イベントには合同バンドとして参加し、世代を超えた一体感のある活動を続けています。
      </p>

      <p>
        同年10月、BLOWING
        Jr.は吹奏楽連盟主催のパレードコンテストに初出場し東海大会で金賞を受賞。翌2025年には、結成2年目にして全国大会初出場を果たしました。
      </p>

      <p>
        現在は、愛西市に加え、名古屋市・津島市など周辺地域や県外からも団員が参加し、地域を広く巻き込んだ活動を展開しています。
      </p>
    </div>
  </section>

  <section>
    <h2>規約</h2>
    <PDFViewer fileId="1hGudFAK7CKEomfPSM2pp1cLu1Zfykv8J" />
  </section>

  <section>
    <h2>年間計画</h2>
    <PDFViewer fileId="1-9oh8a5GL5r9gDCe_EL1LIDxwV1EdH_F" />
  </section>
</BaseLayout>

<style>
  .lead {
    max-width: 40rem;
    margin: auto;
  }
</style>
