---
import NewsLayout from "@/layouts/NewsLayout.astro";
import { formatDateToYYYYMMDD } from "@/scripts/formatDateToYYYYMMDD";
import { getCollection, render } from "astro:content";

const rawPosts = await getCollection("news");
const posts = await Promise.all(
  rawPosts.map(async (post) => {
    const { Content } = await render(post);
    return { ...post, Content };
  })
);
posts.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
---

<NewsLayout>
  {
    posts.map((post) => (
      <article>
        <h3 class="title">
          <a href={`/news/${post.id}`}>{post.data.title}</a>
        </h3>
        <time class="date">{formatDateToYYYYMMDD(post.data.pubDate)}</time>
        <post.Content />
      </article>
    ))
  }
</NewsLayout>
