<table>
  <tr>
    <th>参加対象</th>
    <td>
      小学5年生以上（経験者・初心者問いません）<br />
      <ul>
        <li>愛西市及び近郊に在住・在学でマーチングに興味のある方</li>
        <li>1年間を通して活動に参加できる方</li>
      </ul>
      <small>※楽器等の貸与についてはご相談ください。</small>
    </td>
  </tr>
  <tr>
    <th>練習日時</th>
    <td>
      原則、毎週日曜日　9:00～18:00<br />
      <small>不定期で土曜日、祝日の練習あり</small>
    </td>
  </tr>
  <tr>
    <th>練習場所</th>
    <td>主に愛西市を中心とした小学校・スポーツセンターなど</td>
  </tr>
  <tr>
    <th>参加費用</th>
    <td>
      小中学生：月額3,000円<br />
      高校生以上：月額6,000円
    </td>
  </tr>
</table>

<style>
  th,
  td {
    border-color: rgb(var(--brand-color));
  }

  th {
    background-color: rgb(var(--light-brand-color));
  }

  td {
    background-color: rgb(var(--white));
  }

  ul {
    margin: 0;
    padding-left: 1.5rem;
  }

  small {
    color: rgb(var(--sub-color));
  }
</style>
