<table>
  <tr>
    <th>参加対象</th>
    <td>
      小学5年生以上（経験者・初心者問いません）<br />
      ・愛西市及び近郊に在住・在学でマーチングに興味のある方<br />
      ・1年間を通して活動に参加できる方<br />
      ※楽器等の貸与についてはご相談ください。
    </td>
  </tr>
  <tr>
    <th>練習日時</th>
    <td>
      原則、毎週日曜日　9:00～18:00<br />
      不定期で土曜日、祝日の練習あり
    </td>
  </tr>
  <tr>
    <th>練習場所</th>
    <td>主に愛西市を中心とした小学校・スポーツセンターなど</td>
  </tr>
  <tr>
    <th>参加費用</th>
    <td>
      小中学生：月額3,000円<br />
      高校生以上：月額6,000円
    </td>
  </tr>
</table>

<style>
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  th,
  td {
    border: 1px solid rgb(var(--gray1));
  }

  .application-requirements table {
    margin-top: calc(var(--ratio) * 1rem);
    width: 100%;
  }

  #join th {
    background-color: rgb(var(--light-brand-color));
    border: 1px solid rgb(var(--brand-color));
  }

  #join td {
    background-color: rgb(var(--white));
    border: 1px solid rgb(var(--brand-color));
  }

  .index-join-area {
    margin-top: 1rem;
  }

  #index-join th {
    background-color: rgb(var(--light-brand-color));
    border: 1px solid rgb(var(--brand-color));
  }

  #index-join td {
    background-color: rgb(var(--white));
    border: 1px solid rgb(var(--brand-color));
  }

  #join {
    --shippo-bg-color: var(--gray3);
    background-color: rgb(var(--shippo-bg-color));
    background-image: var(--shippo-pattern-img);
    background-size: var(--shippo-pattern-size);
  }

  .application-requirements {
    margin-top: calc(var(--ratio) * 1rem);
  }

  .application-requirements table {
    margin-top: calc(var(--ratio) * 1rem);
    width: 100%;
  }

  #join th {
    background-color: rgb(var(--light-brand-color));
    border: 1px solid rgb(var(--brand-color));
  }

  #join td {
    background-color: rgb(var(--white));
    border: 1px solid rgb(var(--brand-color));
  }

  /*スマホ*/
  @media (width < 640px) {
    table {
      width: 100%;
    }

    th,
    td {
      padding: 1rem;
    }

    #index-join .read {
      margin-top: calc(var(--ratio) * 1rem);
    }

    #contact table {
      display: block;
      overflow: auto;
    }
    .join-img {
      margin-top: calc(var(--ratio) * 1rem);
      display: flex;
      flex-direction: column;
      gap: calc(var(--ratio) * 1rem);
    }
    form tr {
      display: block;
    }

    form th {
      display: block;
    }

    form td {
      display: block;
    }
  }

  /*スマホとタブレット*/
  @media (width < 960px) {
  }

  /* タブレットとPC */
  @media (width < 640px) {
    #contact table {
      width: 100%;
    }
    .index-join-area {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, max-content));
      justify-content: center;
      gap: calc(var(--ratio) * 1rem);
    }
  }

  /* PC */
  @media (width < 960px) {
  }
</style>
