---
const { ...props } = Astro.props;
---

<footer {...props}>
  <section class="share-icon">
    <a
      class="notice"
      href="https://www.facebook.com/aisaimb/"
      target="_blank"
      rel="noopener noreferrer"><i class="fab fa-facebook fa-2x"></i></a
    >
    <a
      class="notice"
      href="https://www.instagram.com/aisaimb/"
      target="_blank"
      rel="noopener noreferrer"><i class="fab fa-instagram fa-2x"></i></a
    >
    <a class="notice" href="https://twitter.com/aisai_mb" target="_blank" rel="noopener noreferrer"
      ><i class="fab fa-twitter fa-2x"></i></a
    >
    <a
      class="notice"
      href="https://www.youtube.com/channel/UCakCYkwssuwvgCFYvuD-8MQ"
      target="_blank"
      rel="noopener noreferrer"><i class="fab fa-youtube fa-2x"></i></a
    >
  </section>

  <address>&copy; 2021 Aisai Marching Band BLOWING</address>
</footer>
