---
import heroImageSrc from "@/assets/hero.webp";
import { getImage } from "astro:assets";
const heroImage = await getImage({ src: heroImageSrc });
const { pageTitle, ...props } = Astro.props;
---

<header {...props}>
  <h1>{pageTitle}</h1>
</header>

<style define:vars={{ heroImage: `url(${heroImage.src})` }}>
  header {
    background: linear-gradient(rgba(var(--black), 0.4), rgba(var(--black), 0.4)), var(--heroImage);
    background-size: cover;
    background-position: center center;
    color: rgb(var(--white));

    @media (width < 640px) {
      padding: 5rem 1.5rem;
    }

    @media (640px <= width) {
      padding: 6rem 10%;
      text-align: center;
    }
  }
</style>
