<section id="about">
  <div class="ttl">
    <span>ABOUT</span>
    <h2>BLOWINGとは</h2>
  </div>

  <div class="about-img">
    <img src="img/about.webp" />
  </div>

  <div class="read">
    <p>
      2020年度から始動した新しいマーチングバンドです。<br
        class="only-l"
      />愛西市を活動拠点とし、地域貢献や青年育成を図るとともに、マーチングの発展を目指して活動していきます。
    </p>
    <a href="about.html" class="link-btn">詳しく見る</a>
  </div>
</section>

<style>
  .ttl span {
    margin-left: 1rem;
    font-weight: bold;
  }
</style>
