---
import { formatDateToYYYYMMDD } from "@/scripts/formatDateToYYYYMMDD";
import { getCollection } from "astro:content";
import IndexNewsPostlink from "./IndexNewsPostlink.astro";
import SectionTitle from "./SectionTitle.astro";

const allPosts = await getCollection("news");
const filteredPosts = allPosts
  .filter((post) => {
    // 6ヶ月以内に公開された投稿のみを表示
    const now = new Date();
    const sixMonthsAgo = new Date(now.getFullYear(), now.getMonth() - 6, now.getDate());
    return post.data.pubDate > sixMonthsAgo;
  })
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<section class="root">
  <SectionTitle title="お知らせ" subtitle="NEWS" />

  <div class="post-area">
    {
      [...filteredPosts].map((post) => (
        <IndexNewsPostlink
          href={`news/${post.id}`}
          pubDate={formatDateToYYYYMMDD(post.data.pubDate)}
          title={post.data.title}
        />
      ))
    }
  </div>

  <a href="news.html" class="link-btn">お知らせ一覧はこちら</a>
</section>

<style>
  .root {
    --shippo-bg-color: var(--gray3);
    background-color: rgb(var(--shippo-bg-color));
    background-image: var(--shippo-pattern-img);
    background-size: var(--shippo-pattern-size);
  }

  .post-area {
    margin-top: 1rem;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    gap: 1rem;
    max-height: 50vh;
    overflow: auto;
  }
</style>
