---
import IndexContactUsCard from "./IndexContactUsCard.astro";
import LinkButton from "./LinkButton.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section id="contact" class="root">
  <SectionTitle title="お問い合わせ" subtitle="CONTACT US" />

  <p>各種SNSやフォームでお気軽にお問い合わせください。</p>
  <LinkButton href="/contact/" backgroundRGB="var(--black)">お問い合わせフォームはこちら</LinkButton
  >

  <div class="contact-container">
    <div class="contact-grid">
      <IndexContactUsCard platform="Instagram（Jr.）" />
      <IndexContactUsCard platform="Instagram（一般）" />
      <IndexContactUsCard platform="Facebook" />
      <IndexContactUsCard platform="X" />
    </div>
  </div>
</section>

<style>
  .contact-container {
    margin-top: 3rem;
    position: relative;
    z-index: 1;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
  }
</style>
