---
import aboutImg from "@/assets/about.webp";
import { Image } from "astro:assets";
import SectionTitle from "./SectionTitle.astro";
---

<section id="about">
  <div class="ttl">
    <SectionTitle title="BLOWINGとは" subtitle="ABOUT" />
  </div>

  <div class="about-img">
    <Image src={aboutImg} alt="BLOWINGの活動風景" class="img-cv" />
  </div>

  <div class="read">
    <p>
      2020年度から始動した新しいマーチングバンドです。<br
        class="only-l"
      />愛西市を活動拠点とし、地域貢献や青年育成を図るとともに、マーチングの発展を目指して活動していきます。
    </p>
    <a href="about.html" class="link-btn">詳しく見る</a>
  </div>
</section>

<style>
  .about-img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }
  .img-cv {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
    max-height: 540px;
    object-fit: cover;
  }

  @media (width > 641px) {
    #about .ttl {
      padding: 60px 2em 0 20%;
    }
    #about {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .about-img {
      margin: 0;
      padding: 0;
    }
    .about-img .img-cv {
      height: 100%;
      object-fit: cover;
    }

    #about .read {
      padding: 0 2em 60px 20%;
    }
  }
</style>
