---
import ApplicationRequirements from "@/components/ApplicationRequirements.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section id="index-join">
  <SectionTitle title="メンバー募集" subtitle="JOIN US" />

  <div class="index-join-area">
    <ApplicationRequirements />
    <div class="read">
      <h3>一緒に演奏・マーチングをしてくれる仲間を大募集しています！</h3>
      <p>
        まだまだ未知数なバンドですが、将来的には様々な活動を行い、メンバー一人一人が輝ける場所を提供していきたいです。<br
        />マーチングバンドに興味がある方、楽器を演奏する場所を探されている方は、お気軽にお問い合わせください。
      </p>
      <a href="join.html" class="link-btn">詳しく見る</a>
    </div>
  </div>
</section>

<style></style>

<style>
  .ttl span {
    margin-left: 1rem;
    font-weight: bold;
  }

  #index-join .read {
    margin-top: calc(var(--ratio) * 1rem);
  }
</style>
