---
import ApplicationRequirements from "./ApplicationRequirements.astro";
import LinkButton from "./LinkButton.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section id="join" class="root">
  <SectionTitle title="メンバー募集" subtitle="JOIN US" />

  <div class="index-join-area">
    <ApplicationRequirements />
    <div class="lead">
      <h3>一緒に演奏・マーチングをしてくれる仲間を大募集しています！</h3>
      <p>
        まだまだ未知数なバンドですが、将来的には様々な活動を行い、メンバー一人一人が輝ける場所を提供していきたいです。<br
        />マーチングバンドに興味がある方、楽器を演奏する場所を探されている方は、お気軽にお問い合わせください。
      </p>
      <LinkButton href="/join/">詳しく見る</LinkButton>
    </div>
  </div>
</section>

<style>
  .index-join-area {
    margin-top: calc(var(--ratio) * 1rem);
    display: grid;
    gap: calc(var(--ratio) * 1rem);

    @media (640px <= width) {
      grid-template-columns: repeat(auto-fill, minmax(30rem, max-content));
    }
  }
</style>
