---
import LinkButton from "./LinkButton.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section id="schedule" class="root">
  <SectionTitle title="活動予定" subtitle="SCHEDULE" />

  <p>練習の体験希望はいつでも受け付けています。お気軽にお問い合わせください。</p>

  <LinkButton href="/contact/">練習参加申し込みはこちら</LinkButton>

  <iframe
    src="https://calendar.google.com/calendar/embed?wkst=1&ctz=Asia%2FTokyo&mode=AGENDA&showCalendars=0&showPrint=0&src=NjQ3YzcxNWxiaTdjZ2gzYnJzZWZtdGxyZmZvODltZXJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%239F166A"
    class="calendar"></iframe>
</section>

<style>
  .root {
    --shippo-bg-rgb: var(--gray3-rgb);
    background-color: rgb(var(--shippo-bg-rgb));
    background-image: var(--shippo-pattern-img);
    background-size: var(--shippo-pattern-size);
  }

  .calendar {
    margin-top: calc(var(--ratio) * 1rem);
    width: 100%;
    height: 70dvh;
    border: solid 1px #777;
  }
</style>
