---
import SectionTitle from "./SectionTitle.astro";
import Youtube from "./Youtube.astro";
---

<section id="latestVideo" class="root">
  <SectionTitle title="最新の動画" subtitle="LATEST VIDEO" />
  <Youtube
    id="?list=UUakCYkwssuwvgCFYvuD-8MQ"
    style={{
      marginTop: "calc(var(--ratio) * 1rem)",
      aspectRatio: "16 / 9",
    }}
  />
</section>

<style>
  .root {
    --shippo-bg-color: var(--gray3);
    background-color: rgb(var(--shippo-bg-color));
    background-image: var(--shippo-pattern-img);
    background-size: var(--shippo-pattern-size);
  }
</style>
