<section id="schedule">
  <div class="ttl">
    <span>SCHEDULE</span>
    <h2>活動予定</h2>
  </div>

  <p>
    練習の体験希望はいつでも受け付けています。お気軽にお問い合わせください。
  </p>

  <a href="contact.html" class="link-btn">お問い合わせはこちら</a>

  <div class="calendar">
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&mode=AGENDA&showTabs=1&showNav=1&showCalendars=0&src=NjQ3YzcxNWxiaTdjZ2gzYnJzZWZtdGxyZmZvODltZXJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23616161"
      style="border: solid 1px #777"
      width="100%"
      height="450"
      frameborder="0"
      scrolling="no"></iframe>
  </div>
</section>

<style>
  .ttl span {
    margin-left: 1rem;
    font-weight: bold;
  }

  #schedule {
    --shippo-bg-color: var(--gray3);
    background-color: rgb(var(--shippo-bg-color));
    background-image: var(--shippo-pattern-img);
    background-size: var(--shippo-pattern-size);
  }

  #schedule .ttl {
    margin-bottom: 1.5rem;
  }

  #schedule p {
    margin-bottom: 1.5rem;
  }

  .calendar {
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
  }
</style>
