<section id="video">
  <div class="ttl">
    <span>LATEST VIDEO</span>
    <h2>最新の動画</h2>
  </div>

  <div class="youtube">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/?list=UUakCYkwssuwvgCFYvuD-8MQ"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</section>

<style></style>
