---
import NavHamburgermenu from "./NavHamburgermenu.astro";
import NavLogo from "./NavLogo.astro";
const { ...props } = Astro.props;
---

<nav {...props}>
  <NavLogo />
  <NavHamburgermenu />
</nav>

<style>
  nav {
    @media (width < 960px) {
      display: grid;
      grid-template-columns: 1fr max-content;
      padding-left: 10px;
      background-color: rgb(var(--white));
    }

    @media (960px <= width) {
      overflow: auto;
      border-left: 1px solid rgb(var(--gray3));
    }
  }
</style>
