---
const { title, subtitle } = Astro.props;
---

<div class="ttl">
  <span>{subtitle}</span>
  <h2>{title}</h2>
</div>

<style>
  .ttl span {
    margin-left: 1rem;
    font-weight: bold;
  }
</style>
